[Unit]
Description=doorbell.service

[Service]
ExecStart=python3 app.py
WorkingDirectory=/usr/bin/webapp
Restart=always

[Install]
WantedBy=multi-user.target
